{
  "$schema": "https://opencode.ai/config.json",
  "model": "{{ ai_default_model }}",
  "mcp": {
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp/",
      "enabled": true,
      "headers": {
        "Authorization": "Bearer {env:OC_GITHUB_PERSONAL_ACCESS_TOKEN}"
      }
    }
  }
}
